<nav>
  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
      >
        <ul
          class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
        >
          <li>
            <a [routerLink]="['/']">
              <img
                src="https://www.logolynx.com/images/logolynx/7c/7c117c304fa7ac814f5b1d2a5139236d.png"
                class="rounded mx-auto d-block me-3"
                alt="..."
                style="max-width: 40px; width: 100%"
              />
            </a>
          </li>
          <li>
            <a [routerLink]="['/']" class="nav-link px-3 text-secondary">BookWorm</a>
          </li>
          <li *ngIf="isAuthenticated">
            <a [routerLink]="['/library']" class="nav-link px-3 text-white">My library</a>
          </li>
        </ul>

        <div class="text-end">
          <ng-container *ngIf="!isAuthenticated">
            <a [routerLink]="['/login']" class="btn btn-outline-light me-2"> Login </a>
            <a [routerLink]="['/new_user']" class="btn btn-warning">Sign-up</a>
          </ng-container>
          <ng-container *ngIf="isAuthenticated">
            <a [routerLink]="['/logout']" class="btn btn-outline-light me-2">Log out</a>
          </ng-container>
        </div>
      </div>
    </div>
  </header>
</nav>
