<nav>
  <header class="bg-black text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li>
            <a [routerLink]="['/library']" class="nav-link px-3" [ngClass]="{'text-info': full, 'text-secondary': !full}">Full library</a>
          </li>
          <li>
            <a [routerLink]="['/alreadyRead']" class="nav-link px-3" [ngClass]="{'text-info': read, 'text-white': !read}">Read</a>
          </li>
          <li>
            <a [routerLink]="['/toRead']" class="nav-link px-3" [ngClass]="{'text-info': toRead, 'text-white': !toRead}">To be read</a>
          </li>
          <li>
            <a [routerLink]="['/reading']" class="nav-link px-3" [ngClass]="{'text-info': reading, 'text-white': !reading}">Reading in process</a>
          </li>
        </ul>
      </div>
    </div>
  </header>
</nav>
