
<app-header></app-header>
<div
  class="container-fluid pt-5 px-5 min-vh-100 justify-content-center text-white align-items-center"
  style="background-color: #4c4d4e"
>
  <div class="container mt-4 pb-2">
    <div class="container">
      <a routerLink="/search" class="btn btn-outline-secondary btn-sm">Back to search</a>
      <div class="row justify-content-center">
        <div class="clearfix mt-4">
          <img [src]="img" class="col float-xl-end mb-3 ms-md-3 w-25" alt="..." />
          <p class="fs-1 pt-2 pb-2">{{title}}</p>
          <p class="fs-1 pb-3">by {{authors}}</p>
          <!-- Use *ngIf and the corresponding variables to display the buttons based on authentication, data, etc. -->
          <p *ngIf="authenticated && !inlibrary">
            <a [routerLink]="['/addTolibrary', isbn]" class="btn btn-info btn-sm">Add to my books</a>
          </p>
          <p *ngIf="authenticated && inlibrary">
            <a [routerLink]="['/removeFromlibrary', isbn]" class="btn btn-info btn-sm">Remove from my books</a>
            <!-- Utilisez *ngIf pour afficher les boutons de changement de statut en fonction du statut actuel du livre -->
            <ng-container *ngIf="status_0">
              <a [routerLink]="['/setRead', isbn]" class="btn btn-secondary btn-sm">Set as "Read"</a>
              <a [routerLink]="['/setToRead', isbn]" class="btn btn-secondary btn-sm">Set as "To be read"</a>
              <a [routerLink]="['/setReading', isbn]" class="btn btn-secondary btn-sm">Set as "Reading in process"</a>
            </ng-container>
            <ng-container *ngIf="status_1">
              <a [routerLink]="['/setToRead', isbn]" class="btn btn-secondary btn-sm">Set as "To be read"</a>
              <a [routerLink]="['/setReading', isbn]" class="btn btn-secondary btn-sm">Set as "Reading in process"</a>
            </ng-container>
            <ng-container *ngIf="status_2">
              <a [routerLink]="['/setRead', isbn]" class="btn btn-secondary btn-sm">Set as "Read"</a>
              <a [routerLink]="['/setReading', isbn]" class="btn btn-secondary btn-sm">Set as "Reading in process"</a>
            </ng-container>
            <ng-container *ngIf="status_3">
              <a [routerLink]="['/setRead', isbn]" class="btn btn-secondary btn-sm">Set as "Read"</a>
              <a [routerLink]="['/setToRead', isbn]" class="btn btn-secondary btn-sm">Set as "To be read"</a>
            </ng-container>
          </p>
          <p>{{description}}</p>
          <p><b>Published by</b> {{publisher}} <b>in</b> {{publishedDate}}</p>
          <p><b>Categories : </b>{{categories}}</p>
          <p><b>Number of pages :</b> {{pageCount}}</p>
          <p><b>isbn :</b> {{isbn}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
