<app-header></app-header>

<body>
  <div
    class="container-fluid pt-5 px-5 min-vh-100 justify-content-center align-items-center"
    style="background-color: #4c4d4e"
  >
    <div class="container mt-4 pb-2">
      <div class="text-center">
        <div class="container-sm">
          <div class="row justify-content-center">
            <div class="col-6 col-sm-3">
              <form #signupForm="ngForm">
                <h1 class="h3 mb-3 mt-5 fw-normal text-white">
                  Please sign up
                </h1>

                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    name="name"
                    [(ngModel)]="name"
                    required
                  />
                  <label for="floatingInput text-black">Username</label>
                </div>
                <div class="form-floating">
                  <input
                    type="password"
                    class="form-control"
                    id="floatingPassword"
                    name="password"
                    minlength="2"
                    required
                    [(ngModel)]="password"
                  />
                  <label for="floatingPassword text-black">Password</label>
                </div>
                <div class="form-floating">
                  <input
                    type="password"
                    class="form-control"
                    id="floatingPassword2"
                    name="password_2"
                    minlength="2"
                    required
                    [(ngModel)]="password2"
                  />
                  <label for="floatingPassword2 text-black"
                    >Confirm Password</label
                  >
                </div>

                <div *ngIf="!passwordsMatch()" class="alert alert-danger mt-2">
                  Passwords do not match.
                </div>

                <button
                  class="w-100 btn btn-lg btn-primary mt-5"
                  type="button"
                  [disabled]="!signupForm.form.valid || !passwordsMatch()"
                  (click)="signup()"
                >
                  Sign up
                </button>
                <p class="mt-5 mb-3 text-muted text-white">© wikart-siari</p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
